{% extends "site_base.html" %}

{% load i18n %}

{% block extrahead %}
<style>
table { border: 1px solid black; font-size: 12px; }
.vpn { background: white; }
.paid { background: #bbb; }
.diff { background: #aaaacc; }
.above { border: 1px solid red; background: red; }
</style>
{% endblock %}

{% block content %}
{% if message %}{{ message|safe }}
{% else %}
<p>
Faktura je <a href="{{ billurl }}">tady</a>.
</p>

<p>
Vyparsovane info:
</p>

<form action="" method="post" enctype="multipart/form-data">
{% csrf_token %}
<table>
<tr>
	<th>{% trans 'subscriber' %}</th>
	<th>{% trans 'number' %}</th>
	<th>{% trans 'time inside VPN' %}</th>
	<th>{% trans 'time outside VPN' %}</th>
	<th>{% trans 'extraMinutes' %}</th>
	<th>{% trans 'sms count' %}</th>
	<th>{% trans 'sms in vpn' %}</th>
	<th>{% trans 'extraSMS' %}</th>
	<th>{% trans 'extras' %}</th>
</tr>
{% for tel, info in parsed.items %}
<tr {% if info.4 > 0 %}class="above"{% endif %}>
	<td>{{ info.3.user.first_name }} {{ info.3.user.last_name }}</td>
	<td>{{ tel }}</td>
	<td class="vpn">{{ info.0 }}</td>
	<td class="paid">{{ info.1 }}</td>
	<td class="diff">{{ info.4 }}</td>
	<td class="paid">{{ info.2 }}</td>
	<td class="vpn">{{ info.7 }}</td>
	<td class="paid">{{ info.8 }}</td>
	<td>{{ info.6 }}</td>
</tr>
{% endfor %}
<tr style="background-color: grey;">
	<td colspan="2">TOTAL</td>
	<td>{{ totals.inVPN }} ({{ totals.inVPNMins }} mins)</td>
	<td>{{ totals.outVPN }} ({{ totals.outVPNMins }} mins)</td>
	<td>{{ totals.sms }}</td>
	<td>_</td>
	<td>_</td>
	<td>_</td>
	<td>{{ totals.extra }} CZK</td>
</tr>
</table>
<p>{% trans 'Expected invoice price' %}: {{ expectedInvoicePrice }} CZK</p>
<input type="submit" value="OK">
</form>
{% endif %}
{% endblock %}